/*
 * Device tree for a virtual machine without any hardware pass-through.
 */

/dts-v1/;

/include/ "skeleton64.dtsi"

/ {
        model = "L4 VM";
        compatible = "l4,virt", "linux,dummy-virt";

        memory@0 {
            device_type = "memory";
            reg = <0x0 0x00000000 0x0 0x80000000
                   0x1 0x00000000 0xffffffff 0x0>;
            l4vmm,dscap = "ram";
        };

        IOAPIC: ioapic {
            compatible = "intel,ioapic";
            interrupt-controller;
            #interrupt-cells = <1>;
        };

        msi_ctlr: msictlr {
            compatible = "intel,msi-controller";
            msi-controller;
            #msi-cells = <0>;
        };

        cpus {
          #address-cells = <1>;
          #size-cells = <0>;

            cpu0: cpu@0 {
                device_type = "cpu";
                compatible = "virt-intel";
                reg = <0>;

                #address-cells = <2>;
                #size-cells = <2>;
            };

            cpu1: cpu@1 {
                device_type = "cpu";
                compatible = "virt-intel";
                reg = <1>;

                #address-cells = <2>;
                #size-cells = <2>;
            };
        };

        PIC: pic {
          compatible = "virt-i8259-pic";
          reg = <0x0 0x0 0x0 0x0>;
          msi-parent = <&msi_ctlr>;
          interrupt-controller;
          #interrupt-cells = <1>;
        };

        pit {
          compatible = "virt-pit";
          reg = <0x0 0x0 0x0 0x0>;
          interrupt-parent = <&PIC>;
          interrupts = <0>;
        };

        rtc {
            compatible = "virt-rtc";
            reg = <0x0 0x0 0x0 0x0>;
        };

        kvm_clock {
            compatible = "kvm-clock";
            reg = <0x0 0x0 0x0 0x0>;
        };

        pci0: pci@aaaa0000 {
            compatible = "virt-pci-bridge";
            // reg 1: MMIO memory area for PCI devices
            reg = <0x0 0xaaaa0000 0x0 0x00010000>;
            interrupt-parent = <&IOAPIC>;
            msi-parent = <&msi_ctlr>;
            bus-range = <0x0 0xff>;
            #address-cells = <3>;
            #size-cells = <2>;
            #interrupt-cells = <1>;
            // first cell encodes IO[24], MMIO(32[25],64[26:25]), Prefetch[30]
            ranges = <0x02000000 0x0 0xaaaa0000 0x0 0xaaaa0000 0x0 0x10000>;

            virtio_uart@aaaa0000 {
              compatible = "virtio,pci";
              // reg 1: MMIO memory for the MSIX table: 2pages;
              // reg 2: IO ports
              // first address cells encodes bus-dev-fn(<<16, <<11, <<8);
              reg = <0x02000000 0x0 0xaaaa0000 0x0 0x2000
                     0x01000000 0x0 0x800 0x0 0x100>;
              msi-parent = <&msi_ctlr>;
              l4vmm,vdev = "console";
            };

            virtio_net@aaaa2000 {
                compatible = "virtio,pci";
                reg = <0x2000000 0x0 0xaaaa2000 0x0 0x2000
                       0x1000000 0x0 0x700 0x0 0x100>;
                msi-parent = <&msi_ctlr>;
                l4vmm,virtiocap = "net";
                l4vmm,vdev = "proxy";
            };
        };

};
