/*
 * Device tree for a virtual machine without any hardware pass-through.
 */

/dts-v1/;
/include/ "skeleton.dtsi"

/ {
    model = "L4 VM";
    compatible = "l4,virt", "linux,dummy-virt";


    chosen {
    };

    aliases {
    };

    cpus {
    };

    cpu_intc: cpu_intc {
      #address-cells = <0>;
      compatible = "mti,cpu-interrupt-controller";

      interrupt-controller;
      #interrupt-cells = <1>;
    };

    soc {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible = "simple-bus";
        ranges;

        gic: interrupt-controller {
            compatible = "mti,gic";

            reg = <0x1bdc0000 0x20000>;

            mti,reserved-cpu-vectors = <7>;

            interrupt-controller;
            #interrupt-cells = <3>;
        };


        l4syscon: syscon@30030000 {
            compatible = "syscon", "syscon-l4vmm";
            reg = <0x30030000 0x04>;
            little-endian;
        };

        reboot {
            compatible = "syscon-reboot";
            regmap = <&l4syscon>;
            offset = <0x0>;
            mask = <0x66>;
        };

        poweroff {
            compatible = "syscon-poweroff";
            regmap = <&l4syscon>;
            offset = <0x0>;
            mask = <0x0>;
        };
    };

    virtio_net@30010000 {
        compatible = "virtio,mmio";
        reg = <0x30010000 0x100>;
        interrupt-parent = <&gic>;
        interrupts = <0 4 4>;
        l4vmm,vdev = "proxy";
        l4vmm,virtiocap = "net";
    };

    virtio_uart@30020000 {
        compatible = "virtio,mmio";
        reg = <0x30020000 0x100>;
        interrupt-parent = <&gic>;
        interrupts = <0 3 4>;
        l4vmm,vdev = "console";
    };

};
