/*
 * Device tree for a virtual machine with hardware pass-through
 */

#include "ls1021a-twr.dts"

/include/ "syscon.dtsi"
/include/ "vmm-devices-arm.dtsi"

/ {
    interrupt-parent = <&gic>;

    /* delete nodes we do not want or intend to override */
    /delete-node/memory@80000000;
    /delete-node/interrupt-controller@1400000;
    /delete-node/timer;

    timer {
      compatible = "arm,armv7-timer";
      interrupts = <1 13 0xf08>,
                   <1 14 0xf08>,
                   <1 11 0xf08>,
                   <1 10 0xf08>;
      always-on;
    };

    l4vmm {
        ranges = <0x0  0x0 0x30000000  0x21000>;
    };

    vmm-syscon {
        ranges = <0x0  0x0 0x30030000  0x4>;
    };

    soc {
        gic: interrupt-controller@1400000 {
            compatible = "arm,cortex-a15-gic", "arm,cortex-a9-gic";
            #interrupt-cells = <3>;
            interrupt-controller;

            reg = <0x0 0x01401000 0x0 0x1000>,
                  <0x0 0x01402000 0x0 0x100>;
        };
    };
};
